<body>

    <header>
        <h1><a href="/">No Late Fees</a></h1>
        <ul class="nav">
            <li><a href="/book/new">Add a Book</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/bookshelf">Bookshelf</a></li>
        </ul>
    </header>

   
    <div class="libraryWrapper">
        <h2 class="author">{{author}}</h2>

        {{#each books}}
            <p><a class="title {{loanClass}}" href="/book?name={{title}}"><strong>{{title}}</strong></a></p>
            <p><span class="created">{{created_formatted}}</span></p>
            <p><a span class="student" href="/student?name={{student}}">{{student}}</span></a></p>
            
            
      
        {{/each}}
        
    </div><!--END libraryWrapper-->
    
    <footer>
    <ul class="one-fourth">
        <li><strong>No Late Fees</strong></li>
        <li><a href="http://www.art.yale.edu" target="_blank">Yale School of Art</a></li>
    </ul>
   
    <ul class="one-fourth">
       <li><a href="mailto:benjamin.d.lee@yale.edu" target="_blank">Contact</a></li>
        <li>&copy; 2015</li>
    </ul>
</footer>

</body>