 <header>
        <ul class="nav">
            <li><a href="/"><strong>No Late Fees</strong></a></li>
            <li><a href="/book/new">Add a Book</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/bookshelf">Bookshelf</a></li>
        </ul>
    </header>



<div class="libraryWrapper">
    <h2 class="title">{{title}}</h2>
    
{{#each books}}

    <div class="book">
        
        <ul class="book-info">
            <li><span class="author">Author: <a class="author" href="/author?name={{author}}">{{author}}</a></span></li>
            <li><span class="student">Student: <a class="student" href="/student?name={{student}}">{{student}}</a></span></li>
            <li>Added on: <span class="created">{{created_formatted}}</span></li>
            {{#if onLoan}}
                <li><a class="borrow" href="/loan/return?book_id={{id}}">Return</a></li>
            {{else}}
                <li><a class="borrow" href="/loan/create?book_id={{id}}">Borrow</a></li>
            {{/if}}
            
            
        </ul>
        
        
        
    </div>

{{/each}}
</div><!--END libraryWrapper-->

<footer>
    <ul class="one-fourth">
        <li><a href="http://art.yale.edu" target="_blank">Yale School of Art</a></li>
    </ul>
   
    <ul class="one-fourth">
        <li><a href="mailto:benjamin.d.lee@yale.edu" target="_blank">Contact</a></li>
    </ul>
</footer>