 <header>
        <h1><a href="/">No Late Fees&trade;</a></h1>
        <ul class="nav">
            <li><a href="/book/new">Add a Book</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </header>



<div class="libraryWrapper">
    <h2 class="title">{{title}}</h2>
    
{{#each books}}

    <div class="book">
        
        <ul class="book-info">
            <li><span class="author">Author: <a class="author" href="/author?name={{author}}">{{author}}</a></span></li>
            <li><span class="student">Student: <a class="student" href="/student?name={{student}}">{{student}}</a></span></li>
            <li>Added on: <span class="created">{{created_formatted}}</span></li>
            {{#if onLoan}}
                <li><a class="borrow" href="/loan/return?book_id={{id}}">Return</a></li>
            {{else}}
                <li><a class="borrow" href="/loan/create?book_id={{id}}">Borrow</a></li>
            {{/if}}
            
            
        </ul>
        
        <div class="events">
            <p>Book History</p>
            
            {{#each events}}
                <p class="entry">
                    {{#if isLoan}}
                        <a class="student" href="/student?name={{student}}">{{student}}</a> borrowed the book <a class="title {{book.loanClass}}" href="/book?name={{book.title}}"><strong>{{book.title}}</strong></a> by <a class="author" href="/author?name={{book.author}}">{{book.author}}</a>
                        on <span class="created">{{created_formatted}}</span>.
                    {{else}}
                        {{#if isReturn}}
                            <a class="student" href="/student?name={{student}}">{{student}}</a> returned the book <a class="title {{book.loanClass}}" href="/book?name={{book.title}}"><strong>{{book.title}}</strong></a> by <a class="author" href="/author?name={{book.author}}">{{book.author}}</a>
                            on <span class="created">{{returned_formatted}}</span>.
                        {{/if}}
                    {{/if}}
                </p>
                    
                
            {{/each}}  
        </div>
        
    </div>

{{/each}}
</div><!--END libraryWrapper-->

<footer>
    <ul class="one-fourth">
        <li><strong>No Late Fees&trade;</strong></li>
        <li><a href="http://www.art.yale.edu" target="_blank">Yale School of Art</a></li>
    </ul>
   
    <ul class="one-fourth">
        <li><a href="mailto:benjamin.d.lee@yale.edu" target="_blank">Contact</a></li>
        <li>&copy; 2015</li>
    </ul>
</footer>