<body>

    <header>
        <h1><a href="/">No Late Fees&trade;</a></h1>
        <ul class="nav">
            <li><a href="/new">Add a Book</a></li>
            <li><a href="/about">About this site</a></li>
        </ul>
    </header>

  

     <div class="libraryWrapper">
           <h2 class="student">{{student}}</h2>
           <p>Available Books</p>
            {{#each books}}
                <p class="entry">
                      <a class="title {{loanClass}}" href="/book?name={{title}}"><strong>{{title}}</strong></a> by <a class="author" href="/author?name={{author}}">{{author}}</a>
                </p>
            {{/each}}
            
            <div class="events">
                <p>Recent Activity</p>
                {{#each events}}
                    <p class="entry">
                        {{#if isLoan}}
                            <a class="student" href="/student?name={{student}}">{{student}}</a> borrowed the book <a class="title {{book.loanClass}}" href="/book?name={{book.title}}"><strong>{{book.title}}</strong></a> by <a class="author" href="/author?name={{book.author}}">{{book.author}}</a>
                            on <span class="created">{{created}}</span>.
                        {{else}}
                            {{#if isReturn}}
                                <a class="student" href="/student?name={{student}}">{{student}}</a> returned the book <a class="title {{book.loanClass}}" href="/book?name={{book.title}}"><strong>{{book.title}}</strong></a> by <a class="author" href="/author?name={{book.author}}">{{book.author}}</a>
                                on <span class="created">{{created}}</span>.
                            {{/if}}
                        {{/if}}
                    </p>
                {{/each}}  
            </div>
        
    </div><!--END libraryWrapper-->
    
    <footer>
    <ul class="one-fourth">
        <li><strong>No Late Fees&trade;</strong></li>
        <li><a href="http://www.art.yale.edu" target="_blank">Yale School of Art</a></li>
    </ul>
   
    <ul class="one-fourth">
        <li><a href="mailto:benjamin.d.lee@yale.edu" target="_blank">Contact</a></li>
        <li>&copy; 2015</li>
    </ul>
</footer>

</body>