<body>

    <header>
        <ul class="nav">
            <li><a href="/"><strong>No Late Fees</strong></a></li>
            <li><a href="/book/new">Add a Book</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/bookshelf">Bookshelf</a></li>
        </ul>
    </header>

  

     <div class="libraryWrapper">
           <h2 class="student">{{student}}</h2>
           <p>Available Books</p>
            {{#each books}}
                <p class="entry">
                      <a class="title {{loanClass}}" href="/book?name={{title}}">{{title}}</a> by <a class="author" href="/author?name={{author}}">{{author}}</a>
                </p>
            {{/each}}
            
            
        
    </div><!--END libraryWrapper-->
    
    <footer>
    <ul class="one-fourth">
        <li><a href="http://art.yale.edu" target="_blank">Yale School of Art</a></li>
    </ul>
   
    <ul class="one-fourth">
        <li><a href="mailto:benjamin.d.lee@yale.edu" target="_blank">Contact</a></li>
    </ul>
</footer>

</body>